@font-face {
      font-family: "Ballbase";
      src: url("../Fuentes/Ballbase.ttf");
}
@font-face {
      font-family: "Ducados";
      src: url("../Fuentes/Ducados.otf");
}
@font-face {
      font-family: "EFECTIVA";
      src: url("../Fuentes/EFECTIVA.ttf");
}
@font-face {
      font-family: "Youngforever";
      src: url("../Fuentes/Youngforever.ttf");
}
@font-face {
      font-family: "CORPOREA";
      src: url("../Fuentes/CORPOREA.TTF");
}