<div class="real-footer">
    <div>
        <h4>Community</h4>
        <a href="">Discord</a>
        <a href="">Twitter</a>
        <a href="">Instagram</a>
    </div>
    <div>
        <h4>Community</h4>
        <a href="">Discord</a>
        <a href="">Twitter</a>
        <a href="">Instagram</a>
    </div>
    <div>
        <h4>Community</h4>
        <a href="">Discord</a>
        <a href="">Twitter</a>
        <a href="">Instagram</a>
    </div>

</div>
<style>
    *{
        font-family: Arial;
        color: white;
    }
    .real-footer{
        display: grid;
        grid-auto-flow: column;
        height: 100%;
        padding: 0 0 0 6%;
    }
    .real-footer>div{
        padding: 0 0 0 5%;
    }                   

</style>